<div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/02-Clinic-B_resize.jpg"
                 alt="Analyze Analytics Image">
            <div class="carousel-caption p-5">
                <h5>Analyze Analytics of Invoices</h5>
                <p>Access detailed financial insights: revenue, expenses, profit margins, and more</p>
                <p class="carousel-paragraph">Image created by <i>RadiasaTutorial Rti</i> from <a
                        href="http://vecteezy.com">Vecteezy</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/348s.jpg" alt="Easy Recipient and Article Selection Image">
            <div class="carousel-caption p-5">
                <h5>Management of Recipients</h5>
                <p>Efficiently manage recipient info for invoicing. Add, update, and organize clients easily</p>
                <p class="carousel-paragraph">Image created by <i>flatart</i> from <a href="http://vecteezy.com">Vecteezy</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/1000s.jpg" alt="Simplified Fiscal Year Management Image">
            <div class="carousel-caption p-5">
                <h5>Fiscal Year Management</h5>
                <p>Track income and expenses by managing fiscal years. Organize financial records with ease</p>
                <p class="carousel-paragraph">Image created by <i>RadiasaTutorial Rti</i> from <a
                        href="http://vecteezy.com">Vecteezy</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/Contemporary-Medical-Clinic.jpg" alt="Goods and Services Management Image">
            <div class="carousel-caption p-5">
                <h5>Goods and Services Management</h5>
                <p>Efficiently manage products, taxes, and billing for accurate invoicing.</p>
                <p class="carousel-paragraph">Image created by <i>RadiasaTutorial Rti</i> from <a
                        href="http://vecteezy.com">Vecteezy</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/deenclinic4.jpg" alt="Recipients Management Image">
            <div class="carousel-caption p-5">
                <h5>Recipients Management</h5>
                <p>Efficiently organize recipient info with additions and updates for streamlined invoicing.</p>
                <p class="carousel-paragraph">Image created by <i>studiogstock</i> from <a
                        href="http://vecteezy.com">Vecteezy</a></p>
            </div>
        </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <img src="assets/images/arrow_back.png" alt="arrow_back" width="32" height="32">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <img src="assets/images/arrow_forward.png" alt="arrow_forward" width="32" height="32">
        <span class="visually-hidden">Next</span>
    </button>
</div>