<div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/02-Clinic-B_resize.jpg"
                 alt="Analyze Analytics Image">
            <div class="carousel-caption p-5">
                <h5>Best Medical Clinic in world!</h5>
                <p>You'll find finest doctors here.</p>
                <p class="carousel-paragraph">Medical Clinic</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/348s.jpg" alt="Easy Recipient and Article Selection Image">
            <div class="carousel-caption p-5">
                <h5>Best technology for medical care</h5>
                <p>Doctors will help you with the most modern equipment in the world</p>
                <p class="carousel-paragraph">Medical Clinic</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/1000s.jpg" alt="Simplified Fiscal Year Management Image">
            <div class="carousel-caption p-5">
                <h5>Clean and healthy environment</h5>
                <p>A clean and healthy environment will help you heal</p>
                <p class="carousel-paragraph">Medical Clinic</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/Contemporary-Medical-Clinic.jpg" alt="Goods and Services Management Image">
            <div class="carousel-caption p-5">
                <h5>Comfortable rooms</h5>
                <p>You will feel at home in the comfortable rooms of the clinic</p>
                <p class="carousel-paragraph">Medical Clinic</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/images/deenclinic4.jpg" alt="Recipients Management Image">
            <div class="carousel-caption p-5">
                <h5>Friendly and professional employees</h5>
                <p>Friendly and professional employees will help you satisfy your wishes as soon as possible</p>
                <p class="carousel-paragraph">Medical Clinic</p>
            </div>
        </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <img src="assets/images/arrow_back.png" alt="arrow_back" width="32" height="32">
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <img src="assets/images/arrow_forward.png" alt="arrow_forward" width="32" height="32">
        <span class="visually-hidden">Next</span>
    </button>
</div>