<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>

    <link rel="stylesheet" href="template.css" />
  </head>
  <body>
    <div class="container py-5">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div>
              <p class="mb-0">Date</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.date}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Doctor's name</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.doctor}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Doctor's specialization</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.doctorSpec}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Reason for appointment</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.reason}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Diagnosis</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.diagnosis}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Therapy</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.therapy}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <p class="mb-0">Next appointment</p>
            </div>
            <div>
              <p class="text-muted mb-0">{{review.nextAppointment}}</p>
            </div>
          </div>
        </div>
      </div>
</div>
  </body>
</html>