<h1 class="mt-5 mb-4 pb-2 pb-md-0 mb-md-1 px-md-2 text-center">Users to be verified</h1>
<div class="p-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center align-middle" scope="col">Type</th>
            <th class="text-center align-middle" scope="col">Picture</th>
            <th class="text-center align-middle" scope="col">Username</th>
            <th class="text-center align-middle" scope="col">Password</th>
            <th class="text-center align-middle" scope="col">Phone</th>
            <th class="text-center align-middle" scope="col">Email</th>
            <th class="text-center align-middle" scope="col">Firstname</th>
            <th class="text-center align-middle" scope="col">Lastname</th>
            <th class="text-center align-middle" scope="col">Address</th>
            <th class="text-center align-middle" scope="col">LicenseID</th>
            <th class="text-center align-middle" scope="col">Specialization</th>
            <th class="text-center align-middle" scope="col">Branch</th>
            <th class="text-center align-middle" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary" *ngFor="let user of notVerifiedUsers">
            <th scope="row">{{user.userType}}</th>
            <td>
                <img src="{{user.picturePath}}" alt="user picture" width="100" height="100">
            </td>
            <td>{{user.username}}</td>
            <td>{{transformToPassword(user.password)}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.licenseID || 'not defined'}}</td>
            <td>{{user.specialization || 'not defined'}}</td>
            <td>{{user.branch || 'not defined'}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="verifyUser(user)">Verify</button>
                <button type="button" class="btn btn-primary" (click)="declineUser(user)">Decline</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h1 class="mb-4 pb-2 pb-md-0 mb-md-1 px-md-2 text-center">All verified users</h1>
<div class="p-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center align-middle" scope="col">Type</th>
            <th class="text-center align-middle" scope="col">Picture</th>
            <th class="text-center align-middle" scope="col">Username</th>
            <th class="text-center align-middle" scope="col">Password</th>
            <th class="text-center align-middle" scope="col">Phone</th>
            <th class="text-center align-middle" scope="col">Email</th>
            <th class="text-center align-middle" scope="col">Firstname</th>
            <th class="text-center align-middle" scope="col">Lastname</th>
            <th class="text-center align-middle" scope="col">Address</th>
            <th class="text-center align-middle" scope="col">LicenseID</th>
            <th class="text-center align-middle" scope="col">Specialization</th>
            <th class="text-center align-middle" scope="col">Branch</th>
            <th class="text-center align-middle" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary" *ngFor="let user of verifiedUsers">
            <th class="text-center align-middle" scope="row">{{user.userType}}</th>
            <td>
                <img src="{{user.picturePath}}" alt="user picture" width="100" height="100">
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.username}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.username" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{transformToPassword(user.password)}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.password" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.phone}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.phone" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.email}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.email" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.firstname}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.firstname" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.lastname}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.lastname" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.isEditEnabled">
                    {{user.address}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.isEditEnabled">
                    <input type="text" class="form-control" [(ngModel)]="user.address" *ngIf="user.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.licenseID">
                    <div *ngIf="!user.isEditEnabled">
                        {{user.licenseID}}
                    </div>
                    <div *ngIf="user.isEditEnabled">
                        <input type="number" class="form-control" [(ngModel)]="user.licenseID"
                               *ngIf="user.isEditEnabled">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="!user.licenseID">
                    not defined
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.specialization">
                    <div *ngIf="!user.isEditEnabled">
                        {{user.specialization}}
                    </div>
                    <div *ngIf="user.isEditEnabled">
                        <input type="number" class="form-control" [(ngModel)]="user.specialization"
                               *ngIf="user.isEditEnabled">
                    </div>
                </div>
                <div *ngIf="!user.specialization">
                    not defined
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="user.branch">
                    <div *ngIf="!user.isEditEnabled">
                        {{user.branch}}
                    </div>
                    <div *ngIf="user.isEditEnabled">
                        <input type="number" class="form-control" [(ngModel)]="user.branch"
                               *ngIf="user.isEditEnabled">
                    </div>
                </div>
                <div *ngIf="!user.branch">
                    not defined
                </div>
            </td>
            <td class="text-center align-middle">
                <div *ngIf="!user.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="enableEdit(user)">Edit</button>
                </div>
                <div *ngIf="user.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="disableEdit(user)">Cancel</button>
                </div>
                <div class="mt-2" *ngIf="user.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="editUser(user)">Apply</button>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary" (click)="deleteUser(user)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <section class="main-wrapper">
        <div class="h-100 container py-5">
            <div class=" row d-flex justify-content-center align-items-center">
                <div class="mb-5 col-lg-8 col-xl-6">
                    <div class="card rounded-3 px-5">
                        <h3 class=" mb-4 mt-4 pb-2 pb-md-0 mb-md-1 px-md-2 text-center">Add Specialization</h3>
                        <form class="px-md-1">
                          <div class="form-floating mb-4 mt-5">
                            <input type="text" id="form3Example1q" class="form-control" placeholder="Specialization name" name="Spec" [(ngModel)]="specializationToAdd"/>
                            <label class="form-label" for="form3Example1q">Specialization</label>
                          </div>
                          <button type="submit" class="btn btn-success btn-lg mb-4" (click)="addSpecialization()">Add Specialization</button>
                        </form>
                        {{specMessage}}
                    </div>
                </div>
            </div>
        </div>
      </section>
</div>
<div class="pt-4">
    <app-add-doctor></app-add-doctor>
</div>
<div class="p-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle" scope="col">Type</th>
                <th class="text-center align-middle" scope="col">Specialization</th>
                <th class="text-center align-middle" scope="col">Price</th>
                <th class="text-center align-middle" scope="col">Valid</th>
                <th class="text-center align-middle" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr class="table-secondary" *ngFor="let appType of appointmentTypes">
            <th class="text-center align-middle" scope="row">{{appType.type}}</th>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!appType.isEditEnabled">
                    {{appType.specialization}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="appType.isEditEnabled">
                    <select class="form-select" id="exampleSelect1" name="spec" [(ngModel)]="appType.specialization">
                        <option *ngFor="let spec of allSpecializations" value="{{spec.specialization}}">
                            {{spec.specialization}}
                        </option>
                    </select>
                </div>
            </td>
            <td class="text-center align-middle">
                <div class="d-flex justify-content-center align-items-center" *ngIf="!appType.isEditEnabled">
                    {{appType.price}}
                </div>
                <div class="d-flex justify-content-center align-items-center" *ngIf="appType.isEditEnabled">
                    <input type="number" class="form-control" [(ngModel)]="appType.price" *ngIf="appType.isEditEnabled">
                </div>
            </td>
            <td class="text-center align-middle">
                <div *ngIf="appType.valid">
                    Yes
                </div>
                <button type="button" class="btn btn-primary" (click)="validateAppType(appType)" *ngIf="!appType.valid">Validate</button>
            </td>
            
            <td class="text-center align-middle">
                <div *ngIf="!appType.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="enableEditAppType(appType)">Edit</button>
                </div>
                <div *ngIf="appType.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="disableEditAppType(appType)">Cancel</button>
                </div>
                <div class="mt-2" *ngIf="appType.isEditEnabled">
                    <button type="button" class="btn btn-danger" (click)="editAppType(appType)">Apply</button>
                </div>
                <div class="mt-2">
                    <button type="button" class="btn btn-primary" (click)="deleteAppType(appType)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>